// ==========================================================================
// Login Page Styles
// ==========================================================================

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.login-page {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 100vh;
    font-family: $font-avenir-regular;
    background-color: $color-bg-white;

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }
}

.login-page__illustration-container {
    display: none;

    @include md {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: $spacing-10;
        padding-left: $spacing-10;
    }
}

.login-page__logo {
    margin-left: $spacing-10;
}

.login-form {
    box-shadow: 0px 15px 90px 0px #00000008;
    // padding: $spacing-10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include md {
        padding: $spacing-16;
    }
}

.login-form__logo {
    width: 35%;
    margin-bottom: $spacing-16;

    @include md {
        display: none;
    }
}

.login-form__header {
    margin-bottom: $spacing-10;

    @include sm {
        width: 90%;
    }

    @include md {
        width: 80%;
    }
}

.login-form__title {
    font-family: $font-avenir-bold;
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
    color: $color-secondary;
}

.login-form__subtitle {
    font-size: $font-size-xl;
    color: $color-text-muted;
}

.login-form__form {
    &>*+* {
        margin-top: $spacing-8;
    }

    width: 80%;
}

.login-form__input {
    display: block;
    line-height: 0;
    height: auto;
    border-radius: 5px;
    border: 1px solid rgba($color-text-muted, 0.15);
    padding: $spacing-4;
    font-size: $font-size-sm;

    &:focus-visible {
        box-shadow: 0 0 0 1px $color-secondary;
    }
}

.login-form__forgot-link {
    margin-top: $spacing-6;
    font-family: $font-avenir-bold;
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    color: $color-primary;

    &:hover {
        text-decoration: underline;
    }
}

.login-form__submit {
    height: auto;
    width: 100%;
    border-radius: $border-radius-lg;
    background-color: $color-primary;
    padding: $spacing-3 0;
    font-family: $font-avenir-bold;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    color: $color-bg-white;

    &:hover {
        background-color: rgba($color-primary, 0.8);
    }
}
