// ==========================================================================
// Utilities - Common Helper Classes
// ==========================================================================

@use 'variables' as *;
@use 'mixins' as *;

// -----------------------------------------------------------------------------
// Screen Reader
// -----------------------------------------------------------------------------

.sr-only {
    @include sr-only;
}
